<footer class="footer" role="contentinfo">
  <div class="container">
    {{> social-buttons }}
    <p>Less.js và các tài liệu được duy trì bởi <a href="{{rel 'about'}}/#team">đội ngũ phát triển less nòng cốt</a>.</p>
    <p>Mã nguồn tài liệu được phát hành với <a href="https://github.com/less/less-docs/blob/master/LICENSE-MIT" target="_blank">Giấy phép MIT</a>, tài liệu với <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
    <ul class="footer-links">
      <li><a href="http://ownego.com" target="_blank">Đội ngũ dịch thuật</a></li>
      <li>Phiên bản hiện tại v{{ less.version }}</li>
      {{#is links.blog true}}
      <li class="muted">&middot;</li>
      <li><a href="{{ site.blog }}">Blog</a></li>
      {{/is}}
      <li class="muted">&middot;</li>
      <li><a href="{{ less.issues }}">Less.js Issues</a></li>
      <li class="muted">&middot;</li>
      <li><a href="{{ site.issues }}">Less Docs Issues</a></li>
      <li class="muted">&middot;</li>
      <li><a href="{{ less.master }}CHANGELOG.md">Các thay đổi</a></li>
      {{#is links.releases true}}
      <li class="muted">&middot;</li>
      <li><a href="{{ less.master }}dist/">Các phiên bản</a>Blog</a></li>
      {{/is}}
    </ul>
  </div>
</footer>
