---
title: Về chúng tôi
slug: about
lead: "Tìm hiểu về lịch sử hình thành của Less, gặp gỡ đội ngũ phát triển, và khám phá nguồn tài nguyên cộng đồng."
---

{{!-- Lịch sử phát triển
================================================== --}}
<div class="docs-section">
  <div class="page-header">
    <h1 id="history">Lịch sử phát triển</h1>
  </div>
  {{md 'history'}}
</div>


{{!-- Đội ngũ phát triển
================================================== --}}
<div class="docs-section">
  <div class="page-header">
    <h1 id="team">Đội ngũ phát triển</h1>
  </div>
  <p class="lead">Less được phát triển và duy trì bởi một đội ngũ những nhà phát triển tài năng, cùng với đó là sự hỗ trợ rất lớn đến từ cộng đồng của chúng tôi. Less không chịu sự quản lý của bất kỳ một cá nhân riêng lẻ nào mà do tất cả mọi người đóng góp và phát triển ở nhiều khía cạnh khác nhau tạo nên. Dưới đây là danh sách những thành viên của nhóm:</p>
  <div class="list-group less-team">

    {{! Generated from data/team.yml }}
    {{#each team.members}}
    <div class="list-group-item">
      <iframe class="github-btn" src="{{{follow}}}"></iframe>
      <a class="team-member" href="https://github.com/{{{username}}}">
        <img src="{{{gravatar}}}" alt="@{{{username}}}">
        <strong>{{{name}}}</strong> {{{contribution}}} <small>@{{{username}}}</small>
      </a>
    </div>
    {{/each}}

  </div>
  <p>Bạn cũng có thể đóng góp vào sự phát triển của Less bằng cách <a href="{{less.issues}}/new">mở một issue</a> hoặc gửi một request pull  (nếu đó là một request đặc biệt, truớc hết bạn vui lòng mở một issue). </p>
  <p>Hãy đọc phần <a href="{{ less.master }}CONTRIBUTING.md">hướng dẫn đóng góp</a> và phần <a href="{{rel 'usage'}}/#developing-less">phát triển</a> trong trang hướng dẫn sử dụng của chúng tôi.</p>
</div>


{{!-- Cộng đồng
================================================== --}}
<div class="docs-section">
  <div class="page-header">
    <h1 id="community">Cộng đồng</h1>
  </div>
  <p class="lead">Bạn có thể cập nhật một cách liên tục với sự phát triển của Less.js và hòa nhập với cộng đồng của chúng tôi nơi có rất nhiều nguồn tài nguyên có ích.</p>
  <ul>
    <!--li>Read and subscribe to <a href="">The Official Less.js Blog</a>.</li -->
    <li>Bạn có muốn thực hiện request đặc biệt hay gửi thông báo lỗi của Less tới chúng tôi không? <a href="{{ less.issues }}"> Hãy cho chúng tôi biết thông qua Github Issue của chúng tôi</a>.</li>
  </ul>
</div>


{{!-- Các cổng
================================================== --}}
<div class="docs-section">
  <div class="page-header">
    <h1 id="ports">Cổng của Less.js</h1>
  </div>
  <p class="lead">Less có thể kết nối với một số các ngôn ngữ lập trình khác.</p>

  {{md 'ports'}}
</div>


{{!-- Dịch thuật
================================================== --}}
<div class="docs-section">
  <div class="page-header">
    <h1 id="translations">Dịch thuật</h1>
  </div>
  <p class="lead">Những thành viên trong cộng đồng của chúng tôi đã dịch tài liệu của Less.js sang rất nhiều ngôn ngữ khác nhau.</p>

  <div class="callout callout-warning">
    <h4>Đóng góp của cộng đồng.</h4>
    <p>Không có bất kỳ một bản dịch nào được hỗ trợ một cách chính thức và <strong>có thể không thường xuyên được cập nhật</strong>.</p>
  </div>

  {{! Generated from data/translations.yml }}
  <ul class="list-bullets">
  {{#each translations}}
    <li> <strong>{{language}}: </strong> <a href="{{url}}"> {{url}} </a> </li>
  {{/each}}
  </ul>

  <p>Nếu như bạn muốn dịch Less sang một ngôn ngữ khác, hoặc đóng góp một bản dịch mới tốt hơn? Hãy liên hệ với chúng tôi bằng cách <a href="{{less.issues}}/new">mở một issue</a>.</p>
</div>
