---
title: Function
slug: functions
lead: Function tham chiếu
---

{{!-- Function
================================================== --}}

<div class="docs-section">
  <div class="page-header">
    <h1 id="functions-overview">Function</h1>
  </div>
  <p class="lead">Các function tích hợp sẵn được hỗ trợ bởi Less.</p>
</div>



{{#each functions.published}}
  <!-- {{title}} -->
  <div class="docs-section">
    <div class="page-header">
      <h1 id="{{@key}}">{{title}}</h1>
    </div>

    {{#each (expand files)}}
    <div class="section-content">
      {{> popover-source-link . }}

      <!-- {{filename .}} -->
      {{success '>> Inlining:' (filename .)}} {{! log a success message! }}


{{#markdown}}
{{inline .}}
{{/markdown}}

      <br>
    </div>
    {{/each}}

  </div>
{{/each}}
