---
title: Mở đầu
slug: index
lead: "Tổng quan về Less, hướng dẫn tải về, cách sử dụng và các ví dụ minh họa"
---

{{!-- Getting started
================================================== --}}
<div class="docs-section">
  <div class="page-header">
    <h1 id="getting-started">Mở đầu</h1>
  </div>
  {{md 'getting-started'}}
</div>



{{!-- Usage
================================================== --}}
<div class="docs-section">
  <div class="page-header">
    <h1 id="using-less">Cách sử dụng</h1>
  </div>
  {{md 'using-less'}}
</div>




{{!-- Downloads
================================================== --}}
<div class="docs-section">
  <div class="page-header">
    <h1 id="download-options">Hướng dẫn tải về Less.js</h1>
  </div>

  <h2 id="browser-downloads">Tải về từ trình duyệt</h2>
  <a class="btn btn-default" href="{{ less.rawcurrent }}{{ less.version }}/dist/less.min.js">Tải về Less.js v{{less.version}}</a>

  <div class="docs-dl-options">
    {{md 'download-options'}}
  </div>

  <div class="cdn-options">
    {{md 'cdn-options'}}
  </div>
</div>



{{!-- License FAQs
================================================== --}}
<div class="docs-section">
  <div class="page-header">
    <h1 id="license-faqs">Các câu hỏi thường gặp về bản quyền</h1>
  </div>
  <p class="lead">Less.js được phát hành với giấy phép Apache 2 (<a href="https://github.com/less/less.js/issues/1029">mặc dù đã có kế hoạch chia thành 2 giấy phép</a>). Bản quyền 2009-{{ now "%Y" }}, Alexis Sellier và nhóm phát triển chủ chốt (xem bên trên). Chúng tôi có thể tóm tắt lại thành những điều kiện sau.</p>
  <div class="row">
    <div class="col-12 col-lg-6">
      <h4>Người sử dụng được phép:</h4>
      <ul>
        <li>Tùy ý tải về và sử dụng Less.js cho mục đích cá nhân hoặc thương mại</li>
        <li>Sử dụng Less.js theo dạng gói hoặc bản phân phối mà người sử dụng tạo ra</li>
      </ul>
    </div>
    <div class="col-12 col-lg-6">
      <h4>Người sử dụng không được phép:</h4>
      <ul>
        <li>Phân phối lại bất cứ một thành phần nào của Less.js khi không có đầy đủ thẩm quyền</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6">
      <h4>Người sử dụng cần phải:</h4>
      <ul>
        <li>Đính kèm một bản copy của giấy phép trong bất kỳ bản phân phối nào có chứa Less.js</li>
        <li>Cung cấp thẩm quyền rõ ràng cho nhóm phát triển chủ chốt của Less đối với bất kỳ một bản phân phối nào có chứa Less.js</li>
      </ul>
    </div>
    <div class="col-12 col-lg-6">
      <h4>Người sử dụng có thể:</h4>
      <ul>
        <li>Đính kèm nguồn gốc của Less.js vào các phiên bản Less chưa sửa đổi, đã sửa đổi hoặc bất kỳ bản phân phối nào mà người sử dụng tạo ra</li>
        <li>Cập nhật những thay đổi mà người sử dụng tạo ra vào dự án Less.js (những phản hồi như vậy rất được khuyến khích)</li>
      </ul>
    </div>
  </div>
  <p>Để biết thêm thông tin chi tiết về giấy phép của Less.js, hãy truy cập <a href="{{ less.master }}LICENSE">repository của dự án</a></p>
</div>
