---
title: Cách sử dụng
slug: cách sử dụng
lead: "Cách sử dụng less ở server, client và với các ứng dụng bên thứ ba."
---

<!-- Usage
=================================== -->
<div class="docs-section">
  <h1 id="using-less-environments">Sử dụng Less</h1>
  <p class="lead">Cách sử dụng less với node, trình duyệt và ứng dụng bên thứ ba. Hướng dẫn cài đặt và tổng quan về Less xem tại mục <a href="/#using-less">Using Less</a> ở trang chủ.</p>
</div>


{{#each usage.published}}
  <!-- {{title}} -->
  <div class="docs-section">
    <div class="page-header">
      <h1 id="{{@key}}">{{title}}</h1>
    </div>

    {{#each (expand files)}}
    <div class="section-content">
      {{> popover-source-link . }}

      <!-- {{basename .}} -->
      {{success '>> Inlining:' (basename .)}} {{! log a success message! }}


{{#markdown}}
{{inline .}}
{{/markdown}}

      <br>
    </div>
    {{/each}}

  </div>
{{/each}}
